.background { 
    background-image: url("assets/tattoos.jpg");
    height: 100%; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
  font-weight: 700;
}

body { padding-top: 70px; }

/* div{
  outline: 1px solid black;
} */

.portfoliopictures{
  padding: 10px;
}

.words{
  background: rgba(255, 255, 255, 0.555);
}